<div class="box_general padding_bottom">
    <div class="header_box version_2">
        <h2><i class="fa fa-filter"></i>Filtre</h2>
    </div>
    <form (ngSubmit)="fetchInvoices()" class="form-inline">
        <div class="form-group">
            <label for="startDate">Du : </label>
            <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" class="form-control mx-sm-2">
        </div>

        <div class="form-group">
            <label for="endDate">à : </label>
            <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" class="form-control mx-sm-2">
        </div>

        <div class="form-group">
            <label for="status">Statut:</label>
            <select id="status" [(ngModel)]="status" name="status" class="form-control mx-sm-2">
                <option *ngFor="let status of ProviderInvoiceStatusEnum | keyvalue" [value]="status.value">{{
                    status.value
                    }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="invoiceType">Type:</label>
            <select id="invoiceType" [(ngModel)]="invoiceType" name="invoiceType" class="form-control mx-sm-2">
                <option value="properties">propriétés</option>
                <option value="reservations">réservations</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Filtrer</button>
        <button type="button" (click)="clearFilter()" class="btn btn-secondary mx-sm-2">Effacer les filtres</button>
    </form>
</div>
<div class="row">

    <!-- Properties Section -->
    <div class="col-md-12">
        <div class="box_general padding_bottom">
            <div class="header_box version_2">
                <h2><i class="fa fa-home"></i> Commandes</h2>
            </div>

            <app-spinner *ngIf="loading"></app-spinner>

            <div *ngIf="error"  class="alert alert-danger"><p>{{errorMessage}}</p></div>
            <div *ngIf="!loading && !error">

                <table *ngIf="providerServices.length > 0" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Statut</th>
                            <th>Prix</th>
                            <th>Id de propriété</th>
                            <th>Id de réservation</th>
                            <th>Id du prestataire</th>
                            <th>Service pour</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let providerInvoice of providerServices">
                            <td>{{ providerInvoice.providerInvoiceId }}</td>
                            <td>{{ providerInvoice.date }}</td>
                            <td>{{ providerInvoice.status }}</td>
                            <td>{{ providerInvoice.gain }}€</td>
                            <td>{{ providerInvoice.propertyId }}</td>
                            <td>{{ providerInvoice.reservationId }}</td>
                            <td>{{ providerInvoice.providerId }}</td>
                            <td>{{ providerInvoice.serviceType }}</td>
                            <td>
                                <button mat-icon-button color="primary" (click)="onEdit(providerInvoice)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="providerServices.length === 0">
                    <p class="alert alert-warning">Aucune facture disponible pour le moment.</p>
                </div>
            </div>
        </div>
    </div>
</div>